@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);

}

.main .box {
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0;

}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;

}

nav img {
    color: red;
    width: 135px;
    position: relative;
    z-index: 10;
    

}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 84px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation{
    height: 6px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 20px;
    font-weight: 480;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid rgb(86, 74, 74);
    cursor: pointer;
}

.btn select{
    padding: 2px 1px;
    font-weight: 480;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn select  option{
    color: black;

}


.btn-red{
    background-color: red;
    border: none;
    padding: 9px 12px ;
    font-size:medium;
}

.btn-red-sm{
    background-color: red;
    margin: 16px;
    padding: 3px 9px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 8px 101px 8px 14px;
    color: white;
    font-size:medium;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

section{
    padding: 20px;
}
/* .first {
    display: flex;
    flex-direction: column;
    max-width: 43vw;
    margin: 0px 0px 0px 167px;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 167px;
    right: 22px;      

} */

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

/* #s1{
    font-size: 33px;
    font-weight: bolder;
    align-self: flex-start;
}

#s2{
    font-size: 19px;
    align-self: flex-start;
} */

/* .secImg {
    position: relative;
    bottom: 90px;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
    left: 763px;
}

.secImg video {
    position: absolute;
    top: 86px;
    right: 272px;
    width: 410px;
} */


.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 45px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 22px;

}

.faq h2 {
    text-align: center;
    font-size: 45px;
}
.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox img {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 18px;
    max-width: 60vw;
    margin: 24px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

footer a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}


@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}